.sync
.trash
.tmp.driveupload
*.sync-conflict*

College/Formatting Guidelines.md
College/Extend Previous.md
College/New Subject.md
College/Mermaid Diagram Ref.md
College/Data Structures
College/Web Technology

Frieren Game/